@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1020;
  --card: #11162a;
  --muted: #9aa4b2;
}
html,
body,
#root {
  height: 100%;
}
body {
  background: var(--bg);
  color: white;
}
